

section {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
}

p {
    font-size: 24px;
    line-height: 42px;
    color: #222222;
    font-family: sans-serif;
}

#cat-pic {
    display: block;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
